.content {
	display: grid;
	text-align: center;
	margin: 20px;
}
.page-info-div {
	text-align: left;
	margin: 20px;
}
.page-info-div i{
	display: block;
	margin-bottom: 1em;
}
.file-upload-div {
	margin-top: 20px;
	padding: 20px;
	background-color: rgb(228, 228, 228);
	border-radius: 20px;
}
.file-upload label{
	font-weight: bold;
}
.error-div{
	background-color: lavender;
	border-radius: 20px;
}
.error-message{
	color: rgb(157, 0, 0);
	margin: 10px;
}