.content{
	justify-items: center;
	padding: 20px;
}
.table-container {
	width: 95%;
	background-color: rgba(230, 230, 230, 0.884);
	border-radius: 20px;
	padding: 2%;
	margin-bottom: 20px;
}
.title{
	font-size: 75px !important;
}
.amount-control{
	display: flex;
	align-items: center;
	gap: 15px;
}
.cell {
	vertical-align: middle !important;
	justify-items: center;
}
.amount-control * {
	margin-bottom: 0 !important;
}
.amount-control button {
	width: 4vw;
	height: 4vw;
}
.cart-table th{
	text-align: center!important;
}
.cell-content p {
	text-align: center;
}
.cell-content {
	max-width: 10vw;
}
.increment-button{
	background-color: rgb(164, 255, 164);
}
.decrement-button{
	background-color: rgb(255, 194, 194);
}
.checkout-container{
	display: grid;
}
.checkout-button {
	font-size: 40px;
	padding: 20px;
	justify-self: center;
	background-color: rgb(164, 164, 255);
	border-radius: 75px;
	border: none;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
	text-decoration: none;
	color: black;
}
.checkout-button:hover {
	color: black;
}