.content{
	justify-items: center;
}
.table-container {
	width: 95%;
	background-color: rgba(230, 230, 230, 0.884);
	border-radius: 3%;
	padding: 2%;
	margin-bottom: 20px;
}
.title{
	font-size: 75px !important;
}
.amount-control{
	display: flex;
	align-items: center;
	gap: 15px;
}
.cell {
	vertical-align: middle !important;
	justify-items: center;
}
.amount-control * {
	margin-bottom: 0 !important;
}
.amount-control button {
	width: 4vw;
	height: 4vw;
}
.cart-table th{
	text-align: center!important;
}
.cell-content p {
	text-align: center;
}
.cell-content {
	max-width: 10vw;
}