.content{
	justify-items: center;
}
.table-container {
	width: 95%;
	background-color: rgba(230, 230, 230, 0.884);
	border-radius: 3%;
	padding: 2%;
	margin-bottom: 20px;
}
.table-cell{
	display: flex;
	align-items: center;
	gap: 10px;
}
.title{
	font-size: 75px !important;
}