body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	color: #333;
	text-align: center;
	align-content: center;
}

h1 {
	color: #0073e6;
	font-size: 6vw;
	margin-top: 0;
}

h3 {
	font-size: 3vw;
}

p{
	font-size: 2vw;
}

.search {
	width: 40vw;
	margin-bottom: 20px;
	border-radius: 30px;
	font-size: 2vw;
	padding-left: 10px;
	margin-bottom: 10px;
}

#pricing {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(3, 0.1fr);
}

#filter-div {
	background-color: none;
}

.price-div {
	font-size: 2.5vw;
	margin-bottom: 10px;
}

#filter-div input {
	text-align: center;
	width: 20vw;
	font-size: 2vw;
}

#filter-button {
	width: 20vw;
	font-size: 2vw;
}

#filter-menu {
	margin-top: 5px;
	background-color: rgba(255, 219, 134, 0.882);
	height: fit-content;
	padding: 10px;
	opacity: 1;
	max-height: 300vh;
	transition: max-height 0.5s ease,
		opacity 0.3s ease;
}

#filter-menu.closed {
	opacity: 0;
	max-height: 0vh;
}

#category-div{
	padding-top: 2px;
}
#category{
	font-size: 2vw;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 1rem;
	margin-left: 5vw;
	margin-right: 5vw;
}
.grid h3 {
	font-size: 2vw;	
}
.grid img {
	width: 10vw;
	height: auto;
}