h1 {
	color: #0073e6;
	font-size: 6vw;
	margin-top: 0;
	text-align: center;
}

h3 {
	font-size: 3vw;
}

p{
	font-size: 2vw;
}

h3 {
	font-size: 3vw;
}

p{
	font-size: 2vw;
}

.search {
	width: 40vw;
	margin-bottom: 20px;
	border-radius: 30px;
	font-size: 2vw;
	padding-left: 10px;
	margin-bottom: 10px;
}

#pricing {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(3, 0.1fr);
}

#filter-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.price-div {
	font-size: 2.5vw;
	margin-bottom: 10px;
}

#filter-div input {
	text-align: center;
	width: 20vw;
	font-size: 2vw;
}

#filter-button {
	width: 20vw;
	font-size: 2vw;
}

#filter-menu {
	margin-top: 5px;
	background-color: rgba(255, 219, 134, 0.882);
	height: fit-content;
	padding: 10px;
	opacity: 1;
	max-height: 300vh;
	transition: max-height 0.5s ease,
		opacity 0.3s ease;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#filter-menu.closed {
	opacity: 0;
	max-height: 0vh;
	pointer-events: none;
}

#category-div{
	padding-top: 2px;
}
#category{
	font-size: 2vw;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 1rem;
	margin-left: 5vw;
	margin-right: 5vw;
}
.grid h3 {
	font-size: 2vw;	
}
.grid img {
	width: 10vw;
	height: auto;
}

#popup-overlay-bg {
	background-color: rgba(0, 0, 0, 0.329);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	justify-items: center;
	align-content: center;
	height: 100%;
	width: 100%;
}
#popup-content-bg {
	max-height: 80vh;
	background-color: white;
	max-width: 80%;
	border-radius: 1.75em;
	height: fit-content;
	overflow: hidden;
}

#popup-content-div {
	height: 80vh;
	overflow-y: auto;
	max-width: 100%;
	justify-content: center;
	padding-left: 10%;
	padding-right: 10%;
}
#popup-content-div div{
	display: flex;
	margin-top: 5px;
	margin-bottom: 10px;
	flex-direction: column;
}

#popup-close {
	background-color: red;
	color: white;
	border: none;
	box-shadow: inset;
	border-radius: 50%;
	position: sticky;
	top: 4%;
	float: right;
	margin-right: -10%;
	font-size: 2em;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.side-by-side {
	display: flex;
}
.side-by-side * {
	display: inline-block;
}

#popup-content-div h4{
	font-size: 1.8vw;
}

#popup-content-div h3{
	font-size: 2.5vw;
	font-weight: bold;
}
#popup-content-div h2{
	font-size: 4vw;
}

.review-div {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	outline: solid black 0.1em;
	align-items: center;
}

#popup-images img{
	max-width: 80%;
	height: auto;
}

#popup-dimensions div {
	margin: 0;
}

.product h3 {
	font-weight: bold;
}

#sort-div h4 {
	font-size: 4vw;
	margin-top: 50px;
}

#sort-div select {
	font-size: 2vw;
	margin: 0;
}

#filter-menu h4 {
	font-size: 4vw;
	margin: 10px;
}

.remove-button {
	background-color: rgb(200, 0, 0);
	color: white;
	font-size: 2vw;
	width: 60%;
	height: fit-content;
}

.product {
	display: grid;
	grid-template-columns: (1fr);
	justify-items: center;
	position: relative;
}

.not-included {
	background-color: rgb(252, 205, 212);
}

.add-button {
	background-color: rgb(143, 251, 131);
	color: rgb(0, 0, 0);
	font-size: 2vw;
	width: 60%;
	height: fit-content;
}

.wishlist-button-inactive{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: none;
	place-items: center;
	padding: 0;
	font-size: 30px;
	line-height: 1;
	color: rgb(98, 98, 98);
	background-color: #d3d3d3;
	border: none;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
	z-index: 2;
	position: absolute;
	right: 0px;
	top: 0px;
}

.wishlist-button-active{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: none;
	place-items: center;
	padding: 0;
	font-size: 30px;
	line-height: 1;
	color: rgb(255, 154, 45);
	background-color: #b0c6ec;
	border: none;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
	z-index: 2;
	position: absolute;
	right: 0px;
	top: 0px;
}
.product-name {
	text-align: center;
	font-size: 60px !important;
	margin: 50px !important;
	font-weight: bolder !important;
	border-bottom: 1px solid;
	padding-bottom: 15px;
}
.popup-label {
	font-size: 25px !important;
}
.popup-data {
	font-size: 25px;
}
.popup-sub-label {
	font-size: 20px !important;
}
.popup-sub-data {
	font-size: 20px !important;
}
.cart{
	background-color: rgb(214, 214, 214);
	border: none;
	box-shadow: 0 2px 6px rgba(0,0,0,0.15);
	position: sticky;
	top: 4%;
	float: left;
	margin-left: -10%;
	font-size: 2em;
	width: 8%;
	border-radius: 8%;
	height: auto;
	padding: 1%
}
.container {
	display: flex;
	justify-content: center;
}
#popup-images {
	align-items: center;
}
