.content {
	padding: 20px;
}
.section-bg{
	background-color: rgb(209, 217, 222);
	padding: 20px;
	border-radius: 30px;
	margin-bottom: 20px;
}
.section-title{
	padding-left: 1%;
}
.section-content th,td{
	text-align: center !important;
	vertical-align: middle !important;
}
.section-content th{
	border-bottom: 1px solid black !important;
}
.section-content img{
	max-width: 10vw;
}
.product-row:hover {
	background-color: rgb(192, 197, 206);
}
.product-row td:first-child {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.product-row td:last-child {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}