{% extends layout %}

{% block title %}About us{% endblock %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href="/static/css/about.css">
{% endblock %}

{% block content %}
<div class="about-page">
    <div class="about-card">
        <h1>About</h1>

        {% if accountType == 'Admin' %}
        <div class="about-actions">
            <a href="/about/edit" class="button is-light">Edit Page</a>
        </div>
        {% endif %}

        <p>This application is being developed by {{ Team }}</p>
        <p>This is Version {{ Version }}</p>
        <p>The release date is {{ Release }}</p>
        <p>Our product's name is {{ Name }}</p>
        <p>Our product is {{ Description }}</p>
    </div>
</div>
{% endblock %}