<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nav page</title>
    <script src="/static/js/ui_prefs.js" defer></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navigation.css">
    {% block page_css %}{% endblock %}
</head>

<body>
    <div class="topnav">
        <div class="nav-left">
            <a href="/"> Home </a>
            {% if session.get('Organization') == None and session.get('role') == "Driver" %}
                <a href="/organization/apply"> Apply </a>
            {% elif session.get('role') != "Admin" %}
                <a href="/organization"> Organization </a>
                <a href="/cart"> Cart </a>
            {% elif session.get('role') == "Admin" %}
                <a href="/catalog"> Catalog </a>
                <a href="/organizations"> Organizations </a>
            {% endif %}
        </div>
        <div class="nav-right">
            {% if session.get('role') == "Admin" %}
            <a href="/createOrg"> Create Organization </a>
            <div class="dropdown">
                <button class="dropbtn" type="button">Create Account</button>
                <div class="dropdown-content">
                    <a href="/adminRegister">Admin</a>
                </div>
            </div>
            {% endif %}
            {% if session.get('impersonating') %}
            <section class="section pb-0">
                <div class="notification is-warning is-light">
                    <div class="is-flex is-justify-content-space-between is-align-items-center">
                        <span><strong>Impersonation active:</strong> You are currently viewing the app as a driver.</span>
                        <form method="POST" action="/impersonation/exit" style="margin:0;">
                            <button class="button is-small is-dark" type="submit">Exit impersonation</button>
                        </form>
                    </div>
                </div>
            </section>
            {% endif %}
            {% if session.get('role') == "Admin" %}
            <div class="dropdown">
                <button class="dropbtn" type="button">Reports</button>
                <div class="dropdown-content">
                    <a href="/reports/applications">Application Report</a>
                    <a href="/reports/logins">Login Report</a>
                    <a href="/reports/passwords">Password Report</a>
                    <a href="/reports/points">Points Report</a>
                </div>
            </div>
            {% endif %}
            <div class="dropdown">
                <button class="icon-bars dropbtn" type="button">
                    <i class="fa fa-bars fa-1x"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/profile">
                        <i class="fa fa-user fa-1x"></i> Profile
                    </a>
                    <a href="/settings">
                        <i class="fa fa-gear fa-1x"></i> Settings
                    </a>
                
                    {% if session.get('role') == "Driver" %}
                        <a href="/wishlist">
                            <i class="fa fa-heart fa-1x"></i> Wishlist
                        </a>
                    {% elif session.get('role') == "Admin" %}
                        <a href="/admin/users">
                            <i class="fa fa-pen-to-square fa-1x"></i> Edit Users
                        </a>
                    {% elif session.get('role') == "Sponsor" %}
                        <a href="/sponsor/users">
                            <i class="fa fa-pen-to-square fa-1x"></i> Edit Users
                        </a>
                    {% endif %}
                    {% if session.get("admin_real_UserID") %}
                    <form method="POST" action="/admin/stop-view-as" style="margin:0;">
                        <button class="button is-white is-fullwidth" type="submit">
                            <i class="fa fa-user-slash fa-1x"></i> Stop Viewing As
                        </button>
                    </form>
                    {% endif %}
                    {% if session.get('role') != "Admin"%}
                        <a href="/bugReport">
                            <i class="fa fa-bug fa-1x"></i> Report a Bug 
                        </a>
                    {% endif %}
                    <a href="/about"> 
                        <i class="fa fa-circle-info fa-1x"></i> About us 
                    </a>
                    <a href="/logout">
                        <i class="fa fa-arrow-right-from-bracket fa-1x"></i> Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br> <br>
    
    {% block content %}{% endblock %}
</body>
</html>