<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nav page</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navigation.css">
    {% block page_css %}{% endblock %}
</head>

<body>
    <div class="topnav">
        <div class="nav-left">
            <a href="/"> Home </a>	
            <a href="/about"> About us </a>
            <a href="/catalog"> Catalog </a>
            {% if session.get('role') == "Sponsor" %}
                <a href="/org_point_value">Org Point Value</a>
            {% endif %}
        </div>
        <div class="nav-right">
            {% if session.get('role') == "Admin" or session.get('role') == "Sponsor" %}
            <div class="dropdown">
                <button class="dropbtn" type="button">Create Account</button>
                <div class="dropdown-content">
                    {% if session.get('role') == "Admin" %}
                        <a href="/adminRegister">Admin</a>
                        <a href="/sponsorRegister">Sponsor</a>
                        <a href="/register">Driver</a>
                    {% elif session.get('role') == "Sponsor" %}
                        <a href="/sponsorRegister">Sponsor</a>
                        <a href="/register">Driver</a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            <div class="dropdown">
                <button class="icon-user dropbtn" type="button">
                    <i class="fa fa-user fa-1x"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/settings">Settings</a>
                    {% if session.get('role') == "Admin" %}
                        <a href="/admin/users">Edit Users</a>
                    {% elif session.get('role') == "Sponsor" %}
                        <a href="/sponsor/users">Edit Users</a>
                    {% endif %}
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <br> <br>
    
    {% block content %}{% endblock %}
    
</body>
</html>