{% extends layout %}

{% block title %}About us{% endblock %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href="static/css/about.css">
{% endblock %}

{% block content %}
	<h1>About</h1>
	<a href="/about/edit">
		<button class="button">Edit Page</button>
	</a>
	<p>This application is being developed by {{Team}}</p>
	<br>
	<p>This is Version {{Version}}</p>
	<br>
	<p>The release Date is {{Release}}</p>
	<br>
	<p>Our product's name is {{Name}}</p>
	<br>
	<p>Our product is {{Description}}</p>
{% endblock %}