{% extends layout %}

{% block title %}Catalog{% endblock %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href="/static/css/cart.css">
{% endblock %}

{% block content %}
<div class="content">
	<h1 class="title">Cart</h1>
	{% if cartProductData %}
	<div class="table-container">
		<table class="cart-table">
			<thead>
				<tr>
					<th>Image</th>
					<th>Name</th>
					<th>Points</th>
					<th>Amount</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
				{% for product in cartProductData %}
				<tr data-product-id="{{product.id}}" class="product-row">
					<td class="cell"><div class="cell-content"><img src="{{product.thumbnail}}"></div></td>
					<td class="cell"><div class="cell-content"><p>{{product.title}}</p></div></td>
					<td class="cell"><div class="cell-content"><p class="product-price">{{product.price * product.quantity}} Points</p></div></td>
					<td class="cell"><div class="amount-control"><button class="decrement-button">-</button><p class="amount-value">{{product.quantity}}</p><button class="increment-button">+</button></div></td>
					<td class="cell"><div class="cell-content"><button class="remove-cart-item">Remove</button></div></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div id="popup-overlay-bg" hidden></div>
	<script src="/static/js/cart.js"></script>
	{% else %}
	<p>No products added to cart yet.</p>
	<p>To add a product to your cart, click the shopping cart button for a product on the catalog screen.</p>
	{% endif %}
</div>
{% endblock %}