{% extends layout %}

{% block title %}Catalog{% endblock %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href="/static/css/form.css">
{% endblock %}

{% block content %}

<div class="content">
<h2 class="title">Catalog Rules For {{ orgName }}</h2>

<div class="box">
<form action="/catalog/rules" method="POST">
	<div class="section">
		<label for="min-price">Minimum Product Point Cost</label>
		<input id="min-price" name="min-price" type="number" min="0" step="1">
	</div>

	<div class="section">
		<label for="max-price">Maximum Product Point Cost</label>
		<input id="max-price" name="max-price" type="number" min="0" step="1">
	</div>

	<div class="section">
		<label for="min-rating">Minimum Product Rating</label>
		<input id="min-rating" name="min-rating" type="number" min="0" max="5" step="0.1">
	</div>

	<div class="section">
		<label for="keep-all-categories">Keep All Product Categories</label>
		<input id="keep-all-categories" name="keep-all-categories" value="keep-all" type="checkbox">
	</div>

	<div class="section">
		<label for="keep-all-brands">Keep All Brands</label>
		<input id="keep-all-brands" name="keep-all-brands" value="keep-all" type="checkbox">
	</div>
	
	<div class="section">
		<h2 class="title">Allowed Categories...</h2>
		<div id="category-select" class="select-many">
			<label><input name="category" class="category-box" type="checkbox" value="beauty">Beauty</label>
			<label><input name="category" class="category-box" type="checkbox" value="fragrances">Fragrances</label>
			<label><input name="category" class="category-box" type="checkbox" value="furniture">Furniture</label>
			<label><input name="category" class="category-box" type="checkbox" value="groceries">Groceries</label>
			<label><input name="category" class="category-box" type="checkbox" value="home-decoration">Home Decoration</label>
			<label><input name="category" class="category-box" type="checkbox" value="kitchen-accessories">Kitchen Accessories</label>
			<label><input name="category" class="category-box" type="checkbox" value="laptops">Laptops</label>
			<label><input name="category" class="category-box" type="checkbox" value="mens-shirts">Mens Shirts</label>
			<label><input name="category" class="category-box" type="checkbox" value="mens-shoes">Mens Shoes</label>
			<label><input name="category" class="category-box" type="checkbox" value="mens-watches">Mens Watches</label>
			<label><input name="category" class="category-box" type="checkbox" value="mobile-accessories">Mobile Accessories</label>
			<label><input name="category" class="category-box" type="checkbox" value="motorcycle">Motorcycle</label>
			<label><input name="category" class="category-box" type="checkbox" value="skin-care">Skin Care</label>
			<label><input name="category" class="category-box" type="checkbox" value="smartphones">Smartphones</label>
			<label><input name="category" class="category-box" type="checkbox" value="sports-accessories">Sports Accessories</label>
			<label><input name="category" class="category-box" type="checkbox" value="sunglasses">Sunglasses</label>
			<label><input name="category" class="category-box" type="checkbox" value="tablets">Tablets</label>
			<label><input name="category" class="category-box" type="checkbox" value="tops">Tops</label>
			<label><input name="category" class="category-box" type="checkbox" value="vehicle">Vehicle</label>
			<label><input name="category" class="category-box" type="checkbox" value="womens-bags">Womens Bags</label>
			<label><input name="category" class="category-box" type="checkbox" value="womens-dresses">Womens Dresses</label>
			<label><input name="category" class="category-box" type="checkbox" value="womens-jewellery">Womens Jewellery</label>
			<label><input name="category" class="category-box" type="checkbox" value="womens-shoes">Womens Shoes</label>
			<label><input name="category" class="category-box" type="checkbox" value="womens-watches">Womens Watches</label>
		</div>
	</div>

	<div class="section">
		<h2 class="title">Allowed Brands...</h2>
		<div id="brand-select" class="select-many">
			<label><input name="brand" class="brand-box" type="checkbox" value="Essence">Essence</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Glamour Beauty">Glamour Beauty</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Velvet Touch">Velvet Touch</label>
			<label><input name="brand"  class="brand-box" type="checkbox" value="Chic Cosmetics">Chic Cosmetics</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Nail Couture">Nail Couture</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Calvin Klein">Calvin Klein</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Chanel">Chanel</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Dior">Dior</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Dolce & Gabbana">Dolce & Gabbana</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Gucci">Gucci</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Annibale Colombo">Annibale Colombo</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Furniture Co.">Furniture Co.</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Knoll">Knoll</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Bath Trends">Bath Trends</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Apple">Apple</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Asus">Asus</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Huawei">Huawei</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Lenovo">Lenovo</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Dell">Dell</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Fashion Trends">Fashion Trends</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Gigabyte">Gigabyte</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Classic Wear">Classic Wear</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Casual Comfort">Casual Comfort</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Urban Chic">Urban Chic</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Nike">Nike</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Puma">Puma</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Off White">Off White</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Fashion Timepieces">Fashion Timepieces</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Longines">Longines</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Rolex">Rolex</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Amazon">Amazon</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Beats">Beats</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="TechGear">TechGear</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="GadgetMaster">GadgetMaster</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="SnapTech">SnapTech</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="ProVision">ProVision</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Generic Motors">Generic Motors</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Kawasaki">Kawasaki</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="MotoGP">MotoGP</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="ScootMaster">ScootMaster</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="SpeedMaster">SpeedMaster</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Attitude">Attitude</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Olay">Olay</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Vaseline">Vaseline</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Oppo">Oppo</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Realme">Realme</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Samsung">Samsung</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Vivo">Vivo</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Fashion Shades">Fashion Shades</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Fashion Fun">Fashion Fun</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Chrysler">Chrysler</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Dodge">Dodge</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Fashionista">Fashionista</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Heshe">Heshe</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Prada">Prada</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Elegance Collection">Elegance Collection</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Comfort Trends">Comfort Trends</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Fashion Diva">Fashion Diva</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Pampi">Pampi</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Fashion Express">Fashion Express</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="IWC">IWC</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Fashion Gold">Fashion Gold</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Fashion Co.">Fashion Co.</label>
		</div>
	</div>

	<button class="submit-button" type="submit">Submit</button>
</form>
</div>
</div>
{% endblock %}