{% extends layout %}

{% block title %}Catalog{% endblock %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href="/static/css/form.css">
{% endblock %}

{% block content %}

<div class="content">
<h2 class="title">Catalog Rules For {{ orgName }}</h2>

<div class="box">
<form action="/catalog/rules" method="POST">
	<div class="section">
		<label for="min-price">Minimum Product Point Cost</label>
		<input id="min-price" name="min-price" type="number" min="0" step="1" value="{{rules.get("minPoints")}}">
	</div>

	<div class="section">
		<label for="max-price">Maximum Product Point Cost</label>
		<input id="max-price" name="max-price" type="number" min="0" step="1" value="{{rules.get("maxPoints")}}">
	</div>

	<div class="section">
		<label for="min-rating">Minimum Product Rating</label>
		<input id="min-rating" name="min-rating" type="number" min="0" max="5" step="0.1" value="{{rules.get("minRating")}}">
	</div>

	<div class="section">
		<label for="keep-all-categories">Keep All Product Categories</label>
		<input id="keep-all-categories" name="keep-all-categories" value="keep-all" type="checkbox" {% if "keep-all" in allowedCategories %} checked {% endif %}>
	</div>

	<div class="section">
		<label for="keep-all-brands">Keep All Brands</label>
		<input id="keep-all-brands" name="keep-all-brands" value="keep-all" type="checkbox" {% if "keep-all" in allowedBrands %} checked {% endif %}>
	</div>
	
	<div class="section">
		<h2 class="title">Allowed Categories...</h2>
		<div id="category-select" class="select-many">
			<label><input name="category" class="category-box" type="checkbox" value="beauty" {% if "keep-all" in allowedCategories or "beauty" in allowedCategories %} checked {% endif %}>Beauty</label>
			<label><input name="category" class="category-box" type="checkbox" value="fragrances" {% if "keep-all" in allowedCategories or "fragrances" in allowedCategories %} checked {% endif %}>Fragrances</label>
			<label><input name="category" class="category-box" type="checkbox" value="furniture" {% if "keep-all" in allowedCategories or "furniture" in allowedCategories %} checked {% endif %}>Furniture</label>
			<label><input name="category" class="category-box" type="checkbox" value="groceries" {% if "keep-all" in allowedCategories or "groceries" in allowedCategories %} checked {% endif %}>Groceries</label>
			<label><input name="category" class="category-box" type="checkbox" value="home-decoration" {% if "keep-all" in allowedCategories or "home-decoration" in allowedCategories %} checked {% endif %}>Home Decoration</label>
			<label><input name="category" class="category-box" type="checkbox" value="kitchen-accessories"{% if "keep-all" in allowedCategories or "kitchen-accessories" in allowedCategories %} checked {% endif %}>Kitchen Accessories</label>
			<label><input name="category" class="category-box" type="checkbox" value="laptops" {% if "keep-all" in allowedCategories or "laptops" in allowedCategories %} checked {% endif %}>Laptops</label>
			<label><input name="category" class="category-box" type="checkbox" value="mens-shirts" {% if "keep-all" in allowedCategories or "mens-shirts" in allowedCategories %} checked {% endif %}>Mens Shirts</label>
			<label><input name="category" class="category-box" type="checkbox" value="mens-shoes" {% if "keep-all" in allowedCategories or "men-shoes" in allowedCategories %} checked {% endif %}>Mens Shoes</label>
			<label><input name="category" class="category-box" type="checkbox" value="mens-watches" {% if "keep-all" in allowedCategories or "mens-watches" in allowedCategories %} checked {% endif %}>Mens Watches</label>
			<label><input name="category" class="category-box" type="checkbox" value="mobile-accessories" {% if "keep-all" in allowedCategories or "mobile-accessories" in allowedCategories %} checked {% endif %}>Mobile Accessories</label>
			<label><input name="category" class="category-box" type="checkbox" value="motorcycle" {% if "keep-all" in allowedCategories or "motocycle" in allowedCategories %} checked {% endif %}>Motorcycle</label>
			<label><input name="category" class="category-box" type="checkbox" value="skin-care" {% if "keep-all" in allowedCategories or "skin-care" in allowedCategories %} checked {% endif %}>Skin Care</label>
			<label><input name="category" class="category-box" type="checkbox" value="smartphones" {% if "keep-all" in allowedCategories or "smartphones" in allowedCategories %} checked {% endif %}>Smartphones</label>
			<label><input name="category" class="category-box" type="checkbox" value="sports-accessories" {% if "keep-all" in allowedCategories or "sports-accessories" in allowedCategories %} checked {% endif %}>Sports Accessories</label>
			<label><input name="category" class="category-box" type="checkbox" value="sunglasses" {% if "keep-all" in allowedCategories or "sunglasses" in allowedCategories %} checked {% endif %}>Sunglasses</label>
			<label><input name="category" class="category-box" type="checkbox" value="tablets" {% if "keep-all" in allowedCategories or "tablets" in allowedCategories %} checked {% endif %}>Tablets</label>
			<label><input name="category" class="category-box" type="checkbox" value="tops" {% if "keep-all" in allowedCategories or "tops" in allowedCategories %} checked {% endif %}>Tops</label>
			<label><input name="category" class="category-box" type="checkbox" value="vehicle" {% if "keep-all" in allowedCategories or "vehicle" in allowedCategories %} checked {% endif %}>Vehicle</label>
			<label><input name="category" class="category-box" type="checkbox" value="womens-bags" {% if "keep-all" in allowedCategories or "womens-bags" in allowedCategories %} checked {% endif %}>Womens Bags</label>
			<label><input name="category" class="category-box" type="checkbox" value="womens-dresses" {% if "keep-all" in allowedCategories or "womens-dresses" in allowedCategories %} checked {% endif %}>Womens Dresses</label>
			<label><input name="category" class="category-box" type="checkbox" value="womens-jewellery" {% if "keep-all" in allowedCategories or "womens-jewellery" in allowedCategories %} checked {% endif %}>Womens Jewellery</label>
			<label><input name="category" class="category-box" type="checkbox" value="womens-shoes" {% if "keep-all" in allowedCategories or "womens-shoes" in allowedCategories %} checked {% endif %}>Womens Shoes</label>
			<label><input name="category" class="category-box" type="checkbox" value="womens-watches" {% if "keep-all" in allowedCategories or "womens-watches" in allowedCategories %} checked {% endif %}>Womens Watches</label>
		</div>
	</div>

	<div class="section">
		<h2 class="title">Allowed Brands...</h2>
		<div id="brand-select" class="select-many">
			<label><input name="brand" class="brand-box" type="checkbox" value="Essence">Essence</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Glamour Beauty">Glamour Beauty</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Velvet Touch">Velvet Touch</label>
			<label><input name="brand"  class="brand-box" type="checkbox" value="Chic Cosmetics">Chic Cosmetics</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Nail Couture">Nail Couture</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Calvin Klein">Calvin Klein</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Chanel">Chanel</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Dior">Dior</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Dolce & Gabbana">Dolce & Gabbana</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Gucci">Gucci</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Annibale Colombo">Annibale Colombo</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Furniture Co.">Furniture Co.</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Knoll">Knoll</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Bath Trends">Bath Trends</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Apple">Apple</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Asus">Asus</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Huawei">Huawei</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Lenovo">Lenovo</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Dell">Dell</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Fashion Trends">Fashion Trends</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Gigabyte">Gigabyte</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Classic Wear">Classic Wear</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Casual Comfort">Casual Comfort</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Urban Chic">Urban Chic</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Nike">Nike</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Puma">Puma</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Off White">Off White</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Fashion Timepieces">Fashion Timepieces</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Longines">Longines</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Rolex">Rolex</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Amazon">Amazon</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Beats">Beats</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="TechGear">TechGear</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="GadgetMaster">GadgetMaster</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="SnapTech">SnapTech</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="ProVision">ProVision</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Generic Motors">Generic Motors</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Kawasaki">Kawasaki</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="MotoGP">MotoGP</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="ScootMaster">ScootMaster</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="SpeedMaster">SpeedMaster</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Attitude">Attitude</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Olay">Olay</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Vaseline">Vaseline</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Oppo">Oppo</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Realme">Realme</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Samsung">Samsung</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Vivo">Vivo</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Fashion Shades">Fashion Shades</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Fashion Fun">Fashion Fun</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Chrysler">Chrysler</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Dodge">Dodge</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Fashionista">Fashionista</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Heshe">Heshe</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Prada">Prada</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Elegance Collection">Elegance Collection</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Comfort Trends">Comfort Trends</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Fashion Diva">Fashion Diva</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Pampi">Pampi</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Fashion Express">Fashion Express</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="IWC">IWC</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Fashion Gold">Fashion Gold</label>
			<label><input name="brand" class="brand-box" type="checkbox" value="Fashion Co.">Fashion Co.</label>
		</div>
	</div>

	<button class="submit-button" type="submit">Submit</button>
</form>
</div>
</div>
{% endblock %}