{% extends layout %}

{% block title %}Catalog{% endblock %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href="/static/css/catalog.css">
{% endblock %}

{% block content %}
	<h1>Catalog</h1>
	<input id="search-box" type="text" class="search product-update"placeholder="Search..." />
	<br>
	<div id="filter-div">
		<button id="filter-button">Show Filters ▼</button>
		<div id="filter-menu" class="closed">
			<div id="pricing">
				<div class="price-div">
					Minimum Price
					<br>
					<input id="min-price" type="number" min="0" class="product-update">
				</div>
				<p id="dash">-</p>
				<div class="price-div">
					Maximum Price
					<br>
					<input id="max-price" type="number" min="0" class="product-update">
				</div>
			</div>
			<div id="category-div">
				<h3>Categories</h3>
				<div id="category-selection">
					<label>
						<input type="checkbox" class="category-cb" value="beauty">
						Beauty
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="fragrances">
						Fragrances
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="furniture">
						Furniture
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="groceries">
						Groceries
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="home-decoration">
						Home Decoration
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="kitchen-accessories">
						Kitchen Accessories
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="laptops">
						Laptops
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="mens-shirts">
						Mens Shirts
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="mens-shoes">
						Mens Shoes
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="mens-watches">
						Mens Watches
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="mobile-accessories">
						Mobile Accessories
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="motorcycle">
						Motorcycle
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="skin-care">
						Skin Care
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="smartphones">
						Smartphones
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="sports-accessories">
						Sports Accessories
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="sunglasses">
						Sunglasses
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="tablets">
						Tablets
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="tops">
						Tops
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="vehicle">
						Vehicle
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="womens-bags">
						Womens Bags
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="womens-dresses">
						Womens Dresses
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="womens-jewellery">
						Womens Jewellery
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="womens-shoes">
						Womens Shoes
					</label>
					<label>
						<input type="checkbox" class="category-cb" value="womens-watches">
						Womens Watches
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="grid"></div>
	<script src="/static/js/catalog.js"></script>
{% endblock %}