{% extends "activenav.html" %}

{% block title %}Profile{% endblock %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href="/static/css/form.css">
{% endblock %}

{% block content %}
    <div class="container is-max-desktop mt-6">
        <div class="box">
            <h2 class="title is-2">Edit Profile</h2>
            <h5 class="title is-5">Please fill in all options that you would like to update.</h5>
            <form method="POST" action="/profile/edit">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" type="text" name="name" value="{{ user.Name }}" pattern="[a-zA-Z ]{1,80}" required>
                        <span class="error">
                            Please enter letters with a minimum of one character
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left">
                        <input class="input" type="email" name="email" value="{{ user.Email }}" pattern=".{1,80}" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="error">
                            Please enter a valid email
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Phone Number</label>
                    <div class="control has-icons-left">
                        <input class="input" type="tel" name="phoneNum" value="{{ user.PhoneNumber }}" pattern="^\d{3}-\d{3}-\d{4}$">
                        <span class="icon is-small is-left">
                            <i class="fas fa-phone"></i>
                        </span>
                        <span class="error">
                            Please enter your phone number in the format of 012-345-6789
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control has-icons-left">
                        <input class="input" type="text" name="username" value="{{ user.Username }}" pattern=".{4,80}" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        <span class="error">
                            Please enter letters or digits with a minimum of 4 characters
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left">
                        <input class="input" type="password" name="password" placeholder="Password input" pattern=".{8,128}">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                        <span class="error">
                            Please enter digits or letters with a minimum of 8 characters
                        </span>
                    </div>
                </div>

                <button class="button is-block is-info is-large is-fullwidth">Update</button>
            </form>
        </div>
    </div>
{% endblock %}