{% extends "activenav.html" %}

{% block title %}About us{% endblock %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href="/static/css/form.css">
{% endblock %}

{% block content %}
    <div class="container is-max-desktop mt-6">
        <div class="box">
            <form method="POST" action="/about/edit">
                <div class="field">
                    <label class="label">Team Number</label>
                    <div class="control">
                        <input class="input" type="text" name="team" placeholder="Team Number input" pattern="[0-9]{1,2}">
                        <span class="error">
                            Please enter one to two digits as the team number
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Version Number</label>
                    <div class="control">
                        <input class="input" type="text" name="version" placeholder="Version Number input" pattern="[0-9]{1,2}">
                        <span class="error">
                            Please enter one to two digits as the version number
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Release Date</label>
                    <div class="control">
                        <input class="input" type="text" name="release" placeholder="Release Date input" pattern=".{6, 45}">
                        <span class="error">
                            Please enter digits seperated by slashes with a minimum of 6 characters
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Product Name</label>
                    <div class="control">
                        <input class="input" type="text" name="name" placeholder="Product Name input" pattern="[a-zA-Z ]{1,80}">
                        <span class="error">
                            Please enter a valid product name
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Product Description</label>
                    <div class="control">
                        <input class="input" type="text" name="description" placeholder="Product Description input" pattern=".{1,256}">
                        <span class="error">
                            Please enter a valid product description
                        </span>
                    </div>
                </div>
                <button class="button is-block is-info is-large is-fullwidth">Update</button>
            </form>
        </div>
    </div>
{% endblock %}