<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/form.css">
    <title>Forgot Password</title>
</head>
<body>
    <div class="container is-max-desktop mt-6">
        <div class="back-button-row">
            <button type="button"
                class="button is-light back-button"
                onclick="window.location.href='/login';">
                <i class="fas fa-arrow-left"></i>
            </button>
        </div>

        <div>
            <h2 class="title is-2">Forgot Password</h2>
            <h5 class="title is-5">Enter your email. If it exists, we’ll “send” a temporary password.</h5>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class=flashes>
                    {% for category, message in messages %}
                        {% if category in ["resetSent", "resetFail"] %}
                            <div class="{{ category }}">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>

        <div class="box">
            <form method="POST" action="/forgot_password">
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left">
                        <input class="input" type="email" name="email" placeholder="Email input" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                </div>

                <button class="button is-block is-info is-large is-fullwidth">Send Temporary Password</button>
            </form>
        </div>
    </div>
</body>
</html>