<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nav page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/navigation.css">
    {% block page_css %}{% endblock %}
</head>

<body>
    <div class="topnav">
        <div class="nav-left">
            <a href="/"> Home </a>	
            <a href="/about"> About us </a>
        </div>
        <div class="nav-right">
            <a href="/createOrg"> Create Organization </a>
            <a href="/register"> Register </a>
            <a href="/login"> Login </a>
        </div>
    </div>
    <br> <br>
    
    {% block content %}{% endblock %}
    
    <script src="/static/js/ui_prefs.js"></script>
</body>
</html>