{% extends layout %}

{% block title %}Order Details{% endblock %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href="/static/css/order_details.css">
{% endblock %}

{% block content %}
<div class="content">
	<div id="order-overview" class="section-bg">
		<h2 class="section-title">Order Overview</h2>
		<table class="section-content">
			<thead>
				<tr>
					<th>Total</th>
					<th>Item Count</th>
					<th>Order Date</th>
					<th>Delivery Address</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{orderData.get("pointTotal")}} Points</td>
					<td>{{orderItems|sum(attribute="amount")}}</td>
					<td>{{orderData.get("orderTime")}}</td>
					{% set streetAddress = orderData.get("deliveryAddress")%}
					{%set cityState = orderData.get("deliveryCity")+", "+orderData.get("deliveryState")%}
					<td>
						<span>{{streetAddress}}</span>
						<br>
						<span>{{cityState}}</span>
					</td>
					<td>{{orderData.get("status")}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="order-overview" class="section-bg">
		<h2 class="section-title">Items</h2>
		<table class="section-content">
			<thead>
				<tr>
					<th>Image</th>
					<th>Name</th>
					<th>Cost</th>
					<th>Number</th>
				</tr>
			</thead>
			<tbody>
				{% for item in orderItems %}
				<tr class="product-row" data-product-id="{{item.productID}}" tabindex="0" role="button" aria-label="Open product details for {{ item.get('title') }}">
					<td><img src="{{item.get('thumbnail')}}" alt="{{ item.get('title') }} product image"></td>
					<td>{{item.get("title")}}</td>
					<td>{{item.get("unitPrice")}} Points</td>
					<td>{{item.get("amount")}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div id="popup-overlay-bg" hidden></div>

</div>

<script src="/static/js/order_details.js"></script>

{% endblock %}