{% extends layout %}

{% block content %}
<div class="container is-max-desktop mt-6">
  <h1 class="title">Organizations</h1>

  {% if session.get('role') == "Admin" %}
  <form method="GET" action="/organizations" class="mb-4">
  {% elif session.get('role') == "Driver" %}
  <form method="GET" action="/organization/apply" class="mb-4">
  {% endif %}
    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input" type="text" name="q" placeholder="Search organization name..." value="{{ q }}">
      </div>

      <div class="control">
        <button class="button is-info" type="submit">Search</button>
      </div>
    </div>
  </form>

  <table class="table is-striped is-fullwidth">
    <thead>
      <tr>
        <th>Organization Name</th>
      </tr>
    </thead>
    <tbody>
      {% for o in orgs %}
      <tr>
        <td>{{ o.Name }}</td>

        {% if session.get('role') == "Admin" %}
        <td><a class="button is-small is-success" href="/organizations/{{ o.OrganizationID }}/edit">Edit</a></td>
        <td>
          <form method="POST" action="/organizations/{{ o.OrganizationID }}/delete"
                style="display:inline;" onsubmit="return confirmOrgDelete();">
            <button class="button is-small is-danger" type="submit">
              Delete
            </button>
          </form>
        </td>
        {% elif session.get('role') == "Driver" %}
          {% if o.Applied == 1 %}
          <td><a class="button is-small is-success" disabled>Applied</a></td>
          <td><a class="button is-small is-danger" href="/organization/apply/{{ o.OrganizationID }}/cancel">Cancel</a></td>
          {% elif o.Applied == 0 and not hasApplied %}
          <td><a class="button is-small" href="/organization/apply/{{ o.OrganizationID }}">Apply</a></td>
          {% endif %}
        {% endif %}
      </tr>
      {% endfor %}

      {% if orgs|length == 0 %}
        <tr><td colspan="3">No organizations found.</td></tr>
      {% endif %}
    </tbody>
  </table>
</div>

<script src="/static/js/form.js"></script>
{% endblock %}
