<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nav page</title>
    <script src="/static/js/ui_prefs.js" defer></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navigation.css">
    {% block page_css %}{% endblock %}
</head>

<body>
    <div class="topnav">
        <div class="nav-left">
            {% if session.get('role') == "Admin" %}
                <a href="/organizations"> Exit Organization </a>
            {% else %}
                <a href="/"> Exit Organization </a>
            {% endif %}
            <a href="/catalog"> Catalog </a>
            {% if session.get('role') != "Driver" %}
                {% if session.get('role') != "Driver" %}
                    <a href="/organization/applications"> Applications </a>
                    {% if session.get('role') == "Sponsor" %}
                        <a href="/organization/point_value">Point Value</a>
                        <a href="/catalog/rules">Catalog Rules</a>
                    {% endif %}
                {% endif %}
            {% endif %}

        </div>
        <div class="nav-right">
            {% if session.get('role') != "Driver" %}
                <a href="/organization/users">Users Status</a>
                <div class="dropdown">
                    <button class="dropbtn" type="button">Create Account</button>
                    <div class="dropdown-content">
                    {% if session.get('role') == "Admin" %}
                        <a href="/adminRegister">Admin</a>
                        <a href="/sponsorRegister">Sponsor</a>
                        <a href="/register">Driver</a>
                    {% elif session.get('role') == "Sponsor" %}
                        <a href="/sponsorRegister">Sponsor</a>
                        <a href="/register">Driver</a>
                    {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="dropdown">
                <button class="dropbtn" type="button">Reports</button>
                <div class="dropdown-content">
                    <a href="/reports/applications">Application Report</a>
                    {% if session.get('role') == "Admin" %}
                    <a href="/reports/logins">Login Report</a>
                    <a href="/reports/passwords">Password Report</a>
                    {% endif %}
                    <a href="/reports/points">Points Report</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="icon-user dropbtn" type="button">
                    <i class="fa fa-user fa-1x"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/settings">Settings</a>
                    {% if session.get('role') == "Admin" %}
                        <a href="/admin/users">Edit Users</a>
                    {% elif session.get('role') == "Sponsor" %}
                        <a href="/sponsor/users">Edit Users</a>
                    {% endif %}
                    <a href="/about"> About us </a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <br> <br>

    {% block content %}{% endblock %}
    
</body>
</html>