{% extends layout %}
{% block title %}Password Report{% endblock %}
{% block content %}
<div class="container is-max-desktop mt-6">
  <div class="box">
    <h2 class="title is-2">Password Changes Log</h2>

    <form method="GET" class="mb-4">
      <div class="columns">
        <div class="column">
          <label class="label">Start Date</label>
          <input class="input" type="date" name="start" value="{{ start }}">
        </div>
        <div class="column">
          <label class="label">End Date</label>
          <input class="input" type="date" name="end" value="{{ end }}">
        </div>
        <div class="column is-flex is-align-items-end">
          <button class="button is-light">Filter</button>
        </div>
      </div>
    </form>

    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Time</th><th>Actor</th><th>Target</th><th>Type</th>
        </tr>
      </thead>
      <tbody>
        {% for r in rows %}
        <tr>
          <td>{{ r.DateAdjusted }}</td>
          <td>{{ r.ActorName }}</td>
          <td>{{ r.TargetName }}</td>
          <td>{{ r.TypeOfChange }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}