{% extends layout %}

{% block title %}Point Value{% endblock %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href="/static/css/point_value.css">
{% endblock %}

{% block content %}
	<div id="content">
		<h1>Point Value</h1>
		<div id="current-info">
			<p>Your current value per point for your organization is <p id="current-point-value">${{current_point_value}}</p></p>
		</div>
		<button id="change-points-dropdown">Set A New Value ▼</button>
		<div id="point-value-control" class="invisible">
			<p>1 point is worth $<input id="point-value-input" type="number" step="0.01" value="{{current_point_value}}"></input></p>
			<button id="point-value-submit">Submit</button>
		</div>
	</div>
	<script src="/static/js/point_value.js"></script>
{% endblock %}