<link rel="stylesheet" type="text/css" href="/static/css/product_popup.css">
<div id="popup-content-bg">
	<div id="popup-content-div">
		<button id="popup-close">X</button>
		<div id="popup-images">
			{%for prodImage in productDetails.images%}
			<img src="{{prodImage}}">
			{%endfor%}
		</div>
		<h2 class="product-name">{{productDetails.title}}</H3>
		<div id="popup-price">
			<div class="side-by-side">
				<h3 class="popup-label">Point Cost:</h3>
				<p class="popup-data">{{productDetails.price}} Points</p>
			</div>
		</div>
		<div id="popup-availability">
			<div class="side-by-side">
				<h3 class="popup-label">Availability:</h3>
				<p class="popup-data">{{productDetails.availabilityStatus}}</p>
			</div>
			<div class="side-by-side">
				<h3 class="popup-label">Stock:</h3>
				<p class="popup-data">{{productDetails.stock}}</p>
			</div>
		</div>
		<div id="popup-brand">
			<div class="side-by-side">
				<h3 class="popup-label">Brand:</h3>
				<p class="popup-data">{{ "N/A" if productDetails.brand==None else productDetails.brand}}</p>
			</div>
		</div>
		<div id="popup-description">
			<div class="side-by-side">
				<h3 class="popup-label">Description:</h3>
				<p class="popup-data">{{productDetails.description}}</p>
			</div>
		</div>
		<div id="popup-dimensions">
			<h3 class="popup-label">Dimensions:</h3>
			<div class="side-by-side">
				<h4 class="popup-sub-label">Depth:</h4>
				<p class="popup-sub-data">{{productDetails.dimensions["depth"]}} in</p>
			</div>
			<div class="side-by-side">
				<h4 class="popup-sub-label">Height:</h4>
				<p class="popup-sub-data">{{productDetails.dimensions["height"]}} in</p>
			</div>
			<div class="side-by-side">
				<h4 class="popup-sub-label">Width:</h4>
				<p class="popup-sub-data">{{productDetails.dimensions["width"]}} in</p>
			</div>
		</div>
		<div id="popup-rating">
			<h3 class="popup-label">Overall Rating</h3>
			<p class="popup-data">{{productDetails.rating}}/5 ★</p>
		</div>
		<div id="popup-reviews">
			<h3 class="popup-label">Reviews</h3>
			{% for review in productDetails.reviews%}
			<div class="review-div">
				<h4>{{review.reviewerName}}</h4>
				<p>{{review.rating}}/5 ★</p>
				<p>{{review.comment}}</p>
			</div>
			{% endfor %}
		</div>
	</div>
</div>