{% extends layout %}

{% block title %}Profile{% endblock %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href="/static/css/profile.css">
{% endblock %}

{% block content %}
<div class="profile-page">
    <div class="profile-card">
        <h1>Profile</h1>

        <div class="profile-actions">
            <a href="/profile/edit" class="button is-light">Edit Profile</a>
        </div>

        <p>{{ profile.Name }}</p>
        <p>{{ profile.Username }}</p>
        <p>{{ profile.Email }}</p>
        <p>{{ profile.PhoneNumber }}</p>
    </div>
</div>
{% endblock %}