{% extends layout %}

{% block title %}Settings{% endblock %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href="static/css/settings.css">
{% endblock %}

{% block content %}
<h1>Settings</h1>
<button class="button is-block is-info is-large is-fullwidth">Change Email</button>
<br>
<button class="button is-block is-info is-large is-fullwidth">Change Username</button>
<br>
<button class="button is-block is-info is-large is-fullwidth">Change Password</button>
<br>
<p>end of settings</p>
{% endblock %}