{% extends layout %}

{% block title %}Catalog{% endblock %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href="/static/css/wishlist.css">
{% endblock %}

{% block content %}
<div class="content">
	<h1 class="title">Wishlist</h1>
		{%if wishlistData%}
		<div class="wishlist">
			{%for product in wishlistData%}
			<div class="product" data-index="{{loop.index0}}">
				<button class="remove-from-wishlist-button">X</button>
				<img src="{{product.thumbnail}}">
				<h4 class="product-title">{{product.title}}</h4>
				<p>{{product.price}} Points</p>
				<p>{{product.rating}}/5 ★</p>
				<p>{{product.availabilityStatus}}</p>
			</div>
			<div id="popup-overlay-bg" hidden></div>
			{%endfor%}
		</div>
		<button class="all-to-cart-button">Add All To Cart</button>
		{%else%}
		<p>No wishlisted items yet!</p> 
		<p>To add a product to your wishlist, press the star button on the catalog page.</p>
		{%endif%}
</div>
<script>
	const pageProductData = {{wishlistData | tojson}};
</script>
<script src="/static/js/wishlist.js"></script>
{% endblock %}