{% extends layout %}

{% block title %}Catalog{% endblock %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href="/static/css/wishlist.css">
{% endblock %}

{% block content %}
<div class="content">
	<h1 class="title">Wishlist</h1>
		{%if wishlistData%}
		<div class="wishlist">
			{%for product in wishlistData%}
			<div class="product">
				<img src="{{product.thumbnail}}">
				<h4>{{product.title}}</h4>
				<p>{{product.price}}</p>
				<p>{{product.rating}}/5 ★s</p>
				<p>{{product.availabilityStatus}}</p>
			</div>
			{%endfor%}
		</div>
		{%else%}
		<p>No wishlisted items yet!</p> 
		<p>To add a product to your wishlist, press the start button on the catalog page.</p>
		{%endif%}
</div>
{% endblock %}